/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  background-color: #fafafa;
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.nav-bar {
  background-color: #eb1d5d;
  height: 100%;
  position: fixed;
  width: 230px;
  z-index: 10; }
  @media (min-width: 0px) and (max-width: 520px) {
    .nav-bar {
      left: -230px; } }
  @media (min-width: 520px) and (max-width: 840px) {
    .nav-bar {
      left: -230px; } }
  @media (min-width: 840px) {
    .nav-bar {
      left: 0px; } }

.nav-bar-open {
  left: -230px; }

.nav-title-name {
  color: #FFFFFF;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3em;
  font-style: italic;
  font-weight: 300;
  line-height: 1.3em;
  margin-left: 30px;
  margin-top: 150px; }

.nav-links {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  position: absolute;
  text-align: left;
  margin-left: 30px;
  margin-top: 30px; }

@media (min-width: 0px) and (max-width: 520px) {
  .main-page {
    width: auto; } }
@media (min-width: 520px) and (max-width: 840px) {
  .main-page {
    margin-left: auto;
    margin-right: auto; } }
@media (min-width: 840px) {
  .main-page {
    margin-bottom: 30px;
    margin-left: 270px;
    margin-right: 40px; } }

.topic-container:not(:first-child) {
  margin-top: 70px; }

.topic-container:first-child {
  padding-top: 10px; }

.topic-header {
  margin-bottom: 20px; }
  @media (min-width: 0px) and (max-width: 520px) {
    .topic-header {
      margin-left: 20px;
      margin-right: 20px;
      width: auto; } }
  @media (min-width: 520px) and (max-width: 840px) {
    .topic-header {
      margin: 0 auto;
      width: 480px; } }

.topic-header-title {
  margin-bottom: 10px; }

@media (min-width: 0px) and (max-width: 520px) {
  .topic-header-title-image {
    width: auto; } }
@media (min-width: 520px) and (max-width: 840px) {
  .topic-header-title-image {
    width: 480px; } }
@media (min-width: 840px) {
  .topic-header-title-image {
    width: 480px; } }

.topic-header-chronology {
  margin-bottom: 20px; }

@media (min-width: 0px) and (max-width: 520px) {
  .topic-content-text {
    margin-left: 20px;
    margin-right: 20px;
    width: auto; } }
@media (min-width: 520px) and (max-width: 840px) {
  .topic-content-text {
    margin: 0 auto;
    width: 480px; } }
@media (min-width: 840px) {
  .topic-content-text {
    width: 480px;
    margin-left: 20px; } }

.topic-content-gallery {
  margin-top: 40px; }

.topic-page-content-image img {
  max-width: 100%; }

@media (min-width: 520px) and (max-width: 840px) {
  .topic-content-gallery-triple img {
    width: calc(100% + 20px); } }
/* Min-width means it'll be applied to anything > than the value */
@media (min-width: 840px) {
  .topic-content-gallery-triple img {
    width: calc(100% / 3 - 80px / 3);
    /* width = (total / numImages) - (total margin / numImages)*/ }

  .topic-content-gallery-triple img:not(:first-child) {
    margin-left: 10px; } }
.clickable {
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  opacity: 1.0; }
  .clickable:hover {
    cursor: pointer;
    opacity: .4; }

/* ==========================================================================
   Overlays
   ========================================================================== */
@media (min-width: 0px) and (max-width: 230px) {
  .menu-button {
    display: none !important; } }
@media (min-width: 230px) and (max-width: 840px) {
  .menu-button {
    left: 20px;
    top: 10px;
    position: fixed;
    z-index: 11; } }
@media (min-width: 840px) {
  .menu-button {
    display: none !important; } }

.animation-overlay {
  background-color: #eb1d5d;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 0%;
  z-index: 9; }
  @media (min-width: 0px) and (max-width: 230px) {
    .animation-overlay {
      display: none !important; } }
  @media (min-width: 230px) and (max-width: 840px) {
    .animation-overlay {
      left: 0; } }
  @media (min-width: 840px) {
    .animation-overlay {
      left: 230px; } }

.page-too-small-overlay {
  font-family: 'Roboto';
  text-align: center; }
  @media (max-width: 230px) {
    .page-too-small-overlay {
      background-color: #eb1d5d;
      height: 100%;
      margin: 0;
      padding: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 10; } }
  @media (min-width: 230px) {
    .page-too-small-overlay {
      display: none !important; } }
  .page-too-small-overlay .page-too-small-overlay-content {
    margin: 90px auto;
    width: 90px; }

.layering-shadow-overlay {
  background-color: #CE6887;
  height: 100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
  pointer-events: none; }

/* ==========================================================================
   Unique Id styles
   ========================================================================== */
#the-argus-mag-title img {
  width: 100%; }
  @media (min-width: 840px) {
    #the-argus-mag-title img {
      width: 500px; } }

/* ==========================================================================
   Type Styles designed by Adam
   ========================================================================== */
.ts-body {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #212121;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 1.6em;
  text-align: justify; }

.ts-h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.2em;
  line-height: 1.4em; }

.ts-h2 {
  color: #DDD;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6em;
  line-height: 2.1em; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.float-right {
  float: right; }

.float-left {
  float: left; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
         /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=mainScss.css.map */
