@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);

body {
	font-family: 'Open Sans', sans-serif;
	max-width: 700px;
	margin: 80px auto 70px;
}

header h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 94pt;
	text-align: center;
	margin: 0px 0px 10px;
	-webkit-transition: color 6s;
  -moz-transition: color 6s;
  -o-transition: color 6s;
  transition: color 6s;
}

header h1:hover {
	color: white;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000;
	border-bottom: 1px solid #000000;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                STYLING FOR THE NAV BAR
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Make list elements fall inline as block elements */
nav ul { 
	text-align:center;
	padding: 0px 0px 10px;
}

nav ul li { 
    position: relative;
    display: inline-block;
    text-align: center;
}

nav ul li a {
	font-weight: 200;
	color: #AAAAAA;
	text-decoration: none;
	letter-spacing: 2pt;
}

nav ul li:first-child {
	padding-right: 40px;
}

nav ul li:last-child {
	padding-left: 40px;
}

/* Highlights the nav items that are current */
#nav-on {
	color: #000000;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~END~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                STYLING FOR THE FOOTER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

footer {
	font-weight: 200;
	color: #888888;
	margin: 110px auto;
	line-height: 30pt;
	width: 200px;
	text-align: center;
}

footer a{
	color: #888888;
}

footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 8px auto;
    padding: 0;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~END~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            		    PARAGRAPH STYLINGS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

p {
	line-height: 22pt;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
}

.topic {
	position: relative;
}

#section {
	color: #000000;
	font-size: 10pt;
	letter-spacing: 8pt;
	text-align: center;
	border-bottom: 1px solid #888888;
	padding: 7px;
	font-weight: 200;
	margin: 40px 0px 0px;
  -webkit-transition: letter-spacing .5s, color .7s;
  -moz-transition: letter-spacing .5s, color .7s;
  -o-transition: letter-spacing .5s, color .7s;
  transition: letter-spacing .5s, color .7s;
}

#section:hover 	{
	letter-spacing: 10pt;
	color: #555555;	
}

/*
.topic img {
	width: 185%;
	position: absolute;
	top: -47%;
	margin-left: -44%;
	display: block;
	opacity:0 ;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: opacity 5s ease;
  -moz-transition: opacity 5s ease;
  -o-transition: opacity 5s ease;
  transition: opacity 5s ease;
}

.topic:hover img {
	opacity: .07;
}*/

.topic h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 10pt;
	float:left;
	margin:16px 0px 8px;
	/*
  -webkit-transition: color 2s linear;
  -moz-transition: color 2s linear;
  -o-transition: color 2s linear;
  transition: color 2s linear;*/
}

/* Nothing is fun anymore
.topic:hover #gblue {
	color: #0266C8;
}

.topic:hover #gred {
	color: #F90101;
}

.topic:hover #gyellow {
	color: #F2B50F;
}

.topic:hover #ggreen {
	color: #00933B;
}
*/

.topic ul{
	padding: 0px 0px;
	margin-left: 18px;
	margin-top: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	list-style: circle;
}

.topic li {
  -webkit-transition: list-style 1s;
  -moz-transition: list-style 1s;
  -o-transition: list-style 1s;
  transition: list-style 1s;
}

.topic li:hover {
	list-style: disc;
}

#name {
	font-size: 13pt;
	font-weight: 400;
}

.topic p {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	line-height: 15pt;
	margin: 0px 0px;
}

#loc {
	font-size: 10pt;
}

#date {
	font-size: 10pt;
	float: right;
}



